body {
  margin: 0;
  font-size: 12pt;
}

header {
  height: 16vh;
  background-color: #9aa296;
  border-bottom: 1px solid black;
  position: relative;
}

.header-text {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  margin-left: 4%;
  margin-bottom: 10px;
}

main {
  height: 76vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.content {
  height: 100%;
  width: 92%;
}

.top {
  height: 125px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
}

.arrow {
  height: 100px;
  width: 100px;
  margin-left: 15px;
}

#songs {
  margin-left: 80px;
}

.album {
  height: 100px;
  width: 100px;
  margin-right: 40px;
}

.selected-image {
  height: 150px;
  width: 150px;
}

h4 {
  margin: 12px 0;

}

.middle {
  height: 60%;
  display: flex;
  align-items: center;
}

.box {
  width: 30%;
  height: 90%;
  background-color: lightgrey;
  border: 2px solid black;
  overflow-y: auto;
  margin-left: 20px;
}

p {
  margin: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}


.bottom {

}

.default-btn {
  color: white;
  background-color: #2d3329;
  font-size: 1.2rem;
  height: 50px;
  width: 200px;
  margin-right: 10px;
}





footer {
  height: 8vh;
  background-color: #545f4e;
}

.footer-text {
  color: white;
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 4%;
}
